/* =========================
   GOOGLE FONT
========================= */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

/* =========================
   RESET
========================= */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

/* =========================
   BODY
========================= */
body {
  background-color: #f5f7fa;
  color: #333;
}
/* Active link */
header {
  background-color: #111;
  padding: 15px 0;
}

.navbar {
  width: 85%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  color: #fff;
  font-size: 24px;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 25px;
}

.nav-links a {
  text-decoration: none;
  color: #ccc;
  font-weight: 500;
}

.nav-links a:hover {
  color: #3d3e3e;
}

/* About Section */
.about {
  width: 85%;
  margin: 80px auto;
  display: flex;
  gap: 50px;
  align-items: center;
}

.about-content h2 {
  font-size: 32px;
  margin-bottom: 15px;
  display: flex;
  justify-content: center;
}

.about-content p {
  margin-bottom: 15px;
  line-height: 1.7;
  color: #555;
}

/* About Info Grid */
.about-info {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
  margin: 25px 0;
}

.about-info h4 {
  font-size: 14px;
  color: #777;
}

.about-info span {
  font-weight: 500;
  color: #111;
}
