/* =========================
   GOOGLE FONT
========================= */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

/* =========================
   RESET
========================= */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

/* =========================
   BODY
========================= */
body {
  background-color: #f5f7fa;
  color: #333;
}

/* =========================
   NAVBAR
========================= */
header {
  background-color: #111;
  padding: 15px 0;
}

.navbar {
  width: 85%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  color: #fff;
  font-size: 24px;
  font-weight: 600;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 25px;
}

.nav-links a {
  text-decoration: none;
  color: #f7f5f5;
  font-weight: 500;
  transition: 0.3s;
}

.nav-links a:hover,
.nav-links .active {
  color: #edf2f3;
}

/* =========================
   CONTACT SECTION
========================= */
.contact {
  width: 85%;
  margin: 80px auto;
  text-align: center;
}

.contact h2 {
  font-size: 32px;
  margin-bottom: 10px;
}

.contact-desc {
  color: #360404;
  margin-bottom: 40px;
}

/* Cards Layout */
.contact-cards {
  display: flex;
  min-width: 50px;
  justify-content: center;
  gap: 30px;
}

/* Individual Card */
.contact-card {
  background: #f7f5f5;
  padding: 30px;
  border-radius: 12px;
  text-decoration: none;
  box-shadow: 0 10px 25px rgba(0,0,0,0.08);
  transition: transform 0.3s, box-shadow 0.3s;
}

.contact-card:hover {
  transform: translateY(-6px);
  box-shadow: 0 15px 30px rgba(0,0,0,0.12);
}

.contact-card h3 {
  margin-bottom: 10px;
  color: #0a0b0b;
}

.contact-card p {
  color: #6e0707;
  font-size: 14px;
}.img {
  padding: 50px;
  display: flex;
  gap: 20px;              /* space between images */
  justify-content: center;
  flex-wrap: wrap;        /* responsive */
}

.img img {
  width: 200px;
  height: 200px;          /* keeps all images same size */
  object-fit: cover;      /* prevents image distortion */
  border-radius: 14px;
  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.15);
  transition: transform 0.4s ease, box-shadow 0.4s ease;
  cursor: pointer;
}

/* Hover effect */
.img img:hover {
  transform: translateY(-8px) scale(1.03);
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.25);
}
