/* =========================
   GOOGLE FONT
========================= */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

/* =========================
   RESET
========================= */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

/* =========================
   BODY
========================= */
body {
  background-color: #f5f7fa;
  color: #333;
}

header {
  background-color: #111;
  padding: 15px 0;
}

.navbar {
  width: 85%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  color: #fff;
  font-size: 24px;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 25px;
}

.nav-links a {
  text-decoration: none;
  color: #ccc;
  font-weight: 500;
}

.nav-links a:hover {
  color: #3a3b3b;
}

.skills {
  width: 85%;
  margin: 80px auto;
  text-align: center;
}

.skills h2 {
  font-size: 32px;
  margin-bottom: 10px;
}

.skills-desc {
  color: #555;
  margin-bottom: 40px;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

/* Cards Layout */
.skills-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 25px;
}

/* Skill Card */
.skill-card {
  background: #fff;
  padding: 25px;
  border-radius: 12px;
  text-align: left;
  box-shadow: 0 10px 25px rgba(0,0,0,0.08);
  transition: transform 0.3s, box-shadow 0.3s;
}

.skill-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 15px 30px rgba(0,0,0,0.12);
}

.skill-card h3 {
  margin-bottom: 8px;
  color: #111;
}

.skill-card p {
  font-size: 14px;
  color: #666;
  margin-bottom: 15px;
}
